.level {
  background-color: #222947;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 3px;
}

.level__title {
  font-weight: normal;
}

.level__title--easy {
  color: #19c23d;
}

.level__title--average {
  color: #ecdf2d;
}

.level__title--hard {
  color: #e26919;
}

.level__area {
  position: relative;
  margin: 3px 0;
  width: 100%;
  height: 40px;
}

.level__percentage {
  position: absolute;
  top: 20%;
  left: 0;
  color: #222947;
  margin-left: 5px;
  z-index: 3;
}

.level__bar {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  background-color: rgb(104, 118, 145);
}

.level__actual {
  position: absolute;
  height: 40px;
  width: 50%;
  border-radius: 3px;
  background: #eca92d;
}
